<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../styles/style.css">
    </head>
    <body>
        <nav>
            <ul>
            </ul>
        </nav>
        <header>
            <h1>Ocurrio un error vuelve al login</h1>
        </header>
        <main>
           <a href="/">Login</a>
        </main>
    </body>
</html>