<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>

<body>
    <nav>
        <ul>
        </ul>
    </nav>
    <header>
        <h1>Sistema Demo1</h1>
    </header>
    <main>
        <br>

        <br>
        <a class="button-two" href="/auth/login"><span>Login Redirect</span></a>
        <a class="button-two" href="/auth/login" target="popup"
            onclick="window.open('/auth/login','popup','width=600,height=600'); return false;">
            <span>Login Popup</span>
        </a>
       
       <!--        <iframe name="loginIframe"></iframe>
 
           <a class="button-two" href="/auth/login" target="loginIframe"><span>Login Ciudadania2</span></a>
        <br>-->

        

    </main>
</body>

</html>